.container {
    margin: 10px;
    background-color: burlywood;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    width: 10vw;
    height: 25vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 3px 3px 10px black;
    transition: background-color 0.5s, transform 0.5s;
}

.container:hover {
    border-color: rgb(0, 0, 0);
    color: #000000;
    cursor: pointer;
    box-shadow: 0px 0px 10px #ffffff;
    transform: scale(1.06);
    box-shadow: 3px 3px 10px black;
}

.img {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    width: 80%;
    height: 35%;
}

.info{
    display: flex; 
    flex-direction: column;
    text-align: center ;
    justify-content: center;
}

.name{
color: black;
font-size: 100%;
font-family: 'Open Sans Condensed', sans-serif;
}

.continent {
    color: black;
    font-size: 80%;

}


