.container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #bb9e5e;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://wallpaperaccess.com/full/1087816.jpg"); 
    /* 233083 */
    background-size: cover;
    background-position: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 60vh;
    border-radius: 5px;
    border: 5px solid rgb(253, 253, 253);
    text-align: center;
    position: relative;
    backdrop-filter: blur(1px);
    box-shadow: 0px 0px 20px #bb9e5e;
}

.title {
    font-size: 6vw;
    color: rgb(255, 255, 255);
    font-family: Arial;
    text-align: center;
    position: relative;
    text-shadow: 5px 5px 3px #000000
}

.button {
    border-radius: 5px;
    border-color: #ffffff;
    width: 180px;
    height: 50px;
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 20px #000000;
    transition: background-color 0.2s, transform 0.2s;

}

.button:hover {
    border-color: rgb(0, 0, 0);
    color: #000000;
    cursor: pointer;
    box-shadow: 0px 0px 10px #ffffff;
    transform: scale(1.1);
}

.info {
    display: flex;
    position: absolute;
    margin-top: 100px;
    bottom: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
