.paginado {
    margin: 2px;
    width: 25px;
    height: 25px;
    display: flex;
    background: rgb(97,116,142);
    background: linear-gradient(180deg, rgba(97,116,142,1) 0%, rgba(233,233,233,1) 100%);
    border: 2px solid black;
    color: black;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    border-radius: 20px;
    box-shadow: 5px 5px 8px black;
}

.paginado:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    transform: scale(1.4);
    box-shadow: 5px 5px 8px black;
}

